﻿<h1>Them hanh khach</h1>
﻿﻿<form action="ThemKH" method="post">
    <label>Mã hành khách</label>
    <input type="text" name="MAHK" /></br>
    <label>Tên hành khách</label>
    <input type="text" name="HOTEN" /></br>
    <label>Địa chỉ</label>
    <input type="text" name="DIACHI"/></br>
    <label>Điện thoại</label>
    <input type="text" name="DIENTHOAi" /></br>
    <input type="submit" name="Thêm" value="Thêm"></input>
</form>