@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
﻿<form action="LietKeSoXe" method="post">
    <label>Chọn số xe</label>
    <input type="text" name="soxe"></input></br>
    <input type="submit" name="Liệt kê" value="Liệt kê"></input>
</form>