<b>Xem thông tin chuyến bay</b><br />
<form action="ThongTinChuyenBay" method="post">
    <label>Mã chuyến bay</label>
    <input type="text" name="MACH" placeholder="CB00001" /><br />
    <input type="submit" name="lietKe" value="Liệt kê" />
</form>