<h1>Them cong viec</h1>
﻿﻿<form action="ThemCongViec" method="post">
    <label>Mã công việc</label>
    <input type="text" name="MACV"></input></br>
    <label>Tên công việc</label>
    <input type="text" name="TENCV"></input></br>
    <label>Đơn giá</label>
    <input type="text" name="DONGIA"></input></br>
    <input type="submit" name="Thêm" value="Thêm"></input>
</form>
